<p>Ciao <%= @user.name %>,</p>

<p>Abbiamo ricevuto una richiesta di reimpostazione della tua password.</p>

<p>
  <a href="<%= edit_password_url(@user, token: @token) %>">
    Clicca qui per reimpostare la tua password
  </a>
</p>

<p>Se non hai richiesto questa operazione, ignora questa email.</p>

